[submodule "_raw"]
	path = _raw
	url = https://github.com/oucafe/oucafe.github.com.git
	branch = raw
[submodule "_crawler"]
	path = _crawler
	url = https://github.com/oucafe/oucafe.github.com.git
	branch = crawler
